<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>AI Maze Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>AI Maze Game </h1>

  <div id="controls">
  <select id="algoSelect">
    <option value="astar">A*</option>
    <option value="bfs">BFS</option>
    <option value="dfs">DFS</option>
    <option value="dijkstra">Dijkstra</option>
    <option value="greedy">Greedy Best-First</option>
    <option value="bidirectional">Bi-Directional BFS</option>
  </select>

  

    <!-- Assist buttons -->
  <button id="generateBtn">Generate Maze</button>
  <button id="solveBtn">Solve Maze</button>
  <button id="resetBtn">Reset Player</button>
  <button id="compareBtn">Show Comparison</button>

  <div>

 
    <!-- Difficulty level -->
  <button id="easyBtn">Easy</button>
    <button id="mediumBtn">Medium</button>
    <button id="hardBtn">Hard</button>
  </div>
    <div id="stats-inline">
  <p>⏱️ Time: <span id="timeTaken">0.00</span> s</p>
  <p>👣 Steps: <span id="userSteps">0</span></p>
  <p>🤖 Optimal Path Length: <span id="bestPath">?</span></p>
  <p>⭐ Score: <span id="scoreValue">0</span>%</p>
  </div>
</div>

<p style="color:#38bdf8; font-family:Poppins;">
  🕹️ Use Arrow Keys or WASD to move. Press <b>H</b> for a hint!
</p>

   <canvas id="mazeCanvas"></canvas>

<!-- Hidden Chart initially -->
<div id="comparisonContainer" style="display: none;">
  <h2>Algorithm Comparison</h2>
  <canvas id="comparisonChart"></canvas>
</div>

  <!-- <canvas id="mazeCanvas"></canvas> -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


